<!-- 
GROUP 3 PROJECT
Date: 11-12-2023
 -->

 <%- include partials/header.ejs %>

 <%- include partials/main_nav.ejs %>
 
 
   <!-- Main Content -->
   <main class="container">
     <div class="jumbotron">
       <h1 class="display-4">Welcome to the <%= title %> page</h1>
       <style>
         body {
           background-image: url('Assets/images/incident2.png');
           background-size: cover;
         }
      
       </style>
    <!-- Conditional Page Loading-->
    <% if(title=="home" ) { %>
     <%- include home %>
 
       <%} else if(title=="about" ) { %> 
         <%- include about %> 

             <%} else if(title=="contact" ) { %> 
               <%- include contact %>            
               
               <%} else if(title=="login" ) { %> 
                 <%- include login %> 

                 
                 <% } %>
 
                 
                 <%- include partials/footer.ejs %>
   </main>
   
 <%- include partials/bottom_nav.ejs %>  
 
 <%- include partials/footer.ejs %>
   
 
 
 
 
 